{% if result.cookie=="TRUE"%}
	
	{% for r in result.name %}
	<b>{{r}}</b> </br>
	{% endfor %}
	<b></b> </br>
	<b>is</b> </br>
	<b></b> </br>
	{% for r in result.age %}
	<b>{{r}}</b> </br>
	{% endfor %}

{% else %}
	<p>Opps you skipped a few steps please go back to the first page</p>
	<a href= "http://localhost:5000/"> Visit the first page of the webiste! </a>
	<p>Before going back to the page, scroll down for a surpise!!!</p>
	<p><img src="static/cookiemonsterdog.jpg" alt="cookiemonsterdog" style="float:left"></p>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>	
	</br>
	</br>
	<p><img src="static/dogwcookie.jpg" alt="dogwcookie" style="float:right"></p>
{% endif %}




