
{{result}}


<a href="http://humanesociety.org">Adope a puppy here!!</a>

<p><img src="static/puppy.jpg" alt="cookiemonsterdog" style="float:left"></p>
<p><img src="static/a.jpg" alt="cookiemonsterdog" style="float:left"></p>
<p><img src="static/b.jpg" alt="cookiemonsterdog" style="float:left"></p>
<p><img src="static/c.jpg" alt="cookiemonsterdog" style="float:left"></p>
<p><img src="static/d.jpg" alt="cookiemonsterdog" style="float:left"></p>
<p><img src="static/e.jpg" alt="cookiemonsterdog" style="float:left"></p>
<p><img src="static/f.jpg" alt="cookiemonsterdog" style="float:left"></p>
<p><img src="static/g.jpg" alt="cookiemonsterdog" style="float:left"></p>
<p><img src="static/i.jpg" alt="cookiemonsterdog" style="float:left"></p>
<p><img src="static/j.jpg" alt="cookiemonsterdog" style="float:left"></p>
<p><img src="static/k.jpg" alt="cookiemonsterdog" style="float:left"></p>
<p><img src="static/l.jpg" alt="cookiemonsterdog" style="float:left"width = "700" height= "500"></p>
<p><img src="static/m.jpg" alt="cookiemonsterdog" style="float:left"></p>
<p><img src="static/n.jpg" alt="cookiemonsterdog" style="float:left" width = "700" height= "500"></p>
<p><img src="static/o.jpg" alt="cookiemonsterdog" style="float:left"></p>